@model IEnumerable<ElectroCircuitFriendRemake.Models.Component>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ComponentCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExtraDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComponentImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComponentPinoutImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataSheet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Used)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentPinoutImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSheet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Used)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
